name: Deploy Python Backend

on:
  push:
    branches:
      - master
    paths:
      - 'summit_sync/**'
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_NAME: 'summitos-api'
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'backend' 
  PYTHON_VERSION: '3.11' 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate

      - name: Install dependencies
        run: pip install -r ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/requirements.txt

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        id: deploy-to-function
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE_SUMMITOS_API }}
          scm-do-build-during-deployment: true
          enable-oryx-build: true
